.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: #7E7E7E;
    font-size: .8rem;
}

.btn {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    border: 1px solid #04095A;
    border-radius: 10px;
    background-color: transparent;
    font-size: .8rem;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E5FDFB;
    border: 1px solid #00E9D1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    font-weight: 700;
}

.right-side h3 {
    font-size: 14px;
    font-weight: 400;
}

.wrap {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
}

.mobileView {
    display: none;
}

.toggle {
    display: none;
}

.dropdown {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid #CECECE;
    color: #7E7E7E;
    font-size: .8rem;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    width: 100px;
}

@media (max-width: 1024px) {
    .nav {
        display: none;
    }

    .right-side {
        display: none;
    }

    .mobileView {
        display: block;
    }

    .toggle {
        display: block;
    }
}