.sidebarBtn {
    background-color: #04095A;
    width: 100%;
    color: #FFF;
    justify-content: end;
    gap: 2.3rem;
    font-size: .8rem;
    font-weight: 600;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.appointBtn {
    border: none;
    font-size: .8rem;
    color: #7E7E7E;
}

.taskBtn {
    border: none;
    background-color: #F8FBFF;
    border-right: 3px solid #04095A;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #04095A;
    font-size: .8rem;
    font-weight: 600;
}

.sidebarTitle {
    font-size: 1rem;
    margin: 1.5rem 0 1.5rem 0;
}